asgiref==3.8.1
chardet==5.2.0
Django==3.2.24  # Versión compatible con Python < 3.10
gunicorn==22.0.0
mysqlclient==2.2.4
packaging==24.0
pyexcel-io==0.6.6
PyMySQL==1.1.0
sqlparse==0.5.0
texttable==1.7.0
tzdata==2024.1
XlsxWriter==3.2.0
